{%load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>
        GunDetection
    </title>
</head>

<body>
    <center>
        <img src="{%static '/images/earth.png' %}" alt="Logo" class="logo" />
    </center>
    <div class="sign_in_card">
        <div class="sign_in_input">
            <form method="post" action="{%url 'index' %}">
                {% csrf_token %}
                <input type="text" id="uname" name="uname" class="Input-text" placeholder="Username" required><br />
                <input type="password" id="psd" name="psd" class="Input-text" placeholder="Password" required><br />
                <div>
                    {% for message in messages %}
                    <span class="error_message" style="color: red;font-size: 13pt;margin-left: 14%;">{{message}}</span>
                    {%endfor%}
                </div>
                <button type="submit" class="sign_btn">Sign in</button><br />
            </form>
            <span class="txt">Create an account? </span><a href="{% url 'register' %}">Signup</a>
        </div>

    </div>
</body>

</html>